# ESLint Version 3.14.1
# Configuration in YAML

#####################################
# ESLint Inline Configuration Guide #
#####################################
#
# - Environment (block comment)
#     `eslint-env {environment}, ...`
# - Globals (block comment)
#     `global {variable}[:false], ...`
#     The optional `false` flag makes the variable read-only.
# - Rules (block comment)
#     `eslint [{plugin name}/]{rule name}: {rule value like in config file}, ...`
# - Disabling/Enabling Rules (block comment)
#     `eslint-(disable|enable) [[{plugin name}/]{rule name}, ...]`
#     If no rule is specified all are disabled/enabled
# - Disabling Rules (line comment)
#     `eslint-disable-[next-]line [[{plugin name}/]{rule name}, ...]`


########## ########## Inherited Configurations ########## ##########
# Documentation: [Extending Configuration Files](http://eslint.org/docs/user-guide/configuring#extending-configuration-files)

extends: eslint:recommended

########## ########## Parser & Parser Options ########## ##########
# Documentation: [Specifying Parser](http://eslint.org/docs/user-guide/configuring#specifying-parser)
# Documentation: [Specifying Parser Options](http://eslint.org/docs/user-guide/configuring#specifying-parser-options)

parser: espree # (espree)
parserOptions:
  ecmaVersion: 6 # (5)
  sourceType: script # (script)
  ecmaFeatures: # (false)
    globalReturn: false
    impliedStrict: false
    jsx: false

########## ########## Environment ########## ##########
# Documentation: [Specifying Environments](http://eslint.org/docs/user-guide/configuring#specifying-environments)

env:
  es6: true
  browser: true
  jquery: true

########## ########## Globals ########## ##########
# Documentation: [Specifying Globals](http://eslint.org/docs/user-guide/configuring#specifying-globals)

globals:
  chrome: false

########## ########## Plugins ########## ##########
# Documentation: [Configuring Plugins](http://eslint.org/docs/user-guide/configuring#configuring-plugins)

plugins:
  - html

########## ########## Rules ########## ##########
# Documentation: [Configuring Rules](http://eslint.org/docs/user-guide/configuring#configuring-rules)
# Documentation: [ESLint Rules](http://eslint.org/docs/rules)

settings:
  ### plugin/html ###
  html/indent: '+2'
  html/report-bad-indent: warn

rules:
  ########## Inherited & Plugin Rules ##########

  ### eslint:recommended ###
  no-console: off # (error)

  ########## Possible Errors ##########
  # Documentation: [Possible Errors](http://eslint.org/docs/rules/#possible-errors)
  # Documentation: [Possible Errors](http://eslint.org/docs/rules/possible-errors)

  #??? no-await-in-loop :: disallow `await` inside of loops
  no-extra-parens: [warn, functions]
  no-template-curly-in-string: warn
  no-unsafe-negation: warn
  valid-jsdoc:
    - warn
    - prefer:
        # Block Tags
        arg: param
        argument: param
        augments: extends
        constant: const
        constructor: class
        defaultvalue: default
        description: desc
        emits: fires
        exception: throws
        fileoverview: file
        function: func
        host: external
        member: var
        method: func
        overview: file
        property: prop
        return: returns
        virtual: abstract
        # Inline Tags
        linkcode: link
        linkplain: link
      preferType:
        boolean: Boolean
        number: Number
        object: Object
        string: String
        symbol: Symbol
        function: Function
        Null: 'null'
        Undefined: undefined
      requireReturn: false
      requireReturnType: true
      matchDescription: .+
      requireParamDescription: true
      requireReturnDescription: true

  ########## Best Practices ##########
  # Documentation: [Best Practices](http://eslint.org/docs/rules/#best-practices)

  block-scoped-var: error
  consistent-return: error
  curly: [warn, multi, consistent]
  default-case: error
  dot-location: [warn, property]
  dot-notation: warn
  eqeqeq:
    - warn
    - always
    - null: never
  no-caller: warn
  no-empty-function: warn
  no-extra-label: warn
  no-global-assign: warn
  no-implicit-globals: warn
  no-invalid-this: error
  no-multi-spaces: warn
  no-octal-escape: warn
  no-return-assign: error
  #??? no-return-await :: disallow unnecessary `return await`
  no-self-compare: error
  no-unmodified-loop-condition: error
  no-unused-expressions:
    - warn
    - allowShortCircuit: true
      allowTernary: true
  no-useless-call: warn
  no-useless-return: warn
  #??? require-await :: disallow async functions which have no await expression
  wrap-iife: [error, outside]
  yoda: warn

  ########## Strict Mode ##########
  # Documentation: [Strict Mode](http://eslint.org/docs/rules/#strict-mode)

  #??? strict :: require or disallow strict mode directives

  ########## Variables ##########
  # Documentation: [Variables](http://eslint.org/docs/rules/#variables)

  no-catch-shadow: warn
  no-label-var: warn
  no-restricted-globals: warn
  no-shadow-restricted-names: warn
  no-use-before-define: error

  ########## Node.js & CommonJS ##########
  # Documentation: [Node.js and CommonJS](http://eslint.org/docs/rules/#nodejs-and-commonjs)

  no-path-concat: error #! FIXME not working with template strings like `${__dirname}`
  no-process-env: warn
  no-process-exit: error

  ########## Stylistic Issues ##########
  # Documentation: [Stylistic Issues](http://eslint.org/docs/rules/#stylistic-issues)

  #! TODO rework section
  array-bracket-spacing: [warn, never]
  block-spacing: [warn, always]
  brace-style:
    - warn
    - 1tbs
    - allowSingleLine: true
  comma-dangle:
    - warn
    - arrays: always-multiline
      objects: always-multiline
      imports: never
      exports: never
      functions: ignore
  comma-spacing: warn
  comma-style: warn
  computed-property-spacing: warn
  eol-last: warn
  func-call-spacing: warn
  func-name-matching: warn
  func-names: [warn, never]
  indent: [warn, 2]
  key-spacing: warn
  keyword-spacing: warn
  linebreak-style: [warn, windows]
  lines-around-comment:
    - warn
    - allowBlockStart: true
      allowBlockEnd: true
      allowObjectStart: true
      allowObjectEnd: true
      allowArrayStart: true
      allowArrayEnd: true
  lines-around-directive: warn
  new-cap:
    - warn
    - capIsNewExceptions: []
  new-parens: warn
  no-array-constructor: warn
  no-lonely-if: warn
  no-mixed-operators: warn
  no-multiple-empty-lines:
    - warn
    - max: 2
  no-new-object: warn
  no-tabs: warn
  no-unneeded-ternary: warn
  no-whitespace-before-property: warn
  object-curly-newline:
    - warn
    - multiline: true
  object-curly-spacing:
    - warn
    - always
  object-property-newline:
    - warn
    - allowMultiplePropertiesPerLine: true
  operator-assignment: warn
  operator-linebreak:
    - warn
    - after
  quotes:
    - warn
    - double
    - avoidEscape: true
  require-jsdoc:
    - off
    - require:
        FunctionDeclaration: true
        MethodDefinition: true
        ClassDeclaration: true
        ArrowFunctionExpression: true
  semi-spacing: warn
  semi: [warn, never]
  space-before-blocks: warn
  space-before-function-paren: [warn, never]
  space-in-parens: warn
  space-infix-ops: warn
  space-unary-ops:
    - warn
    - words: true
      nonwords: false
  spaced-comment:
    - warn
    - always
    - line:
        markers: []
        exceptions: []
      block:
          markers: []
          exceptions: []
          balanced: true
  unicode-bom: error

  ########## ECMAScript 6 ##########
  # Documentation: [ECMAScript 6](http://eslint.org/docs/rules/#ecmascript-6)

  arrow-body-style: warn
  arrow-parens: [warn, as-needed]
  arrow-spacing: warn
  generator-star-spacing: warn
  no-duplicate-imports: error
  no-useless-computed-key: warn
  no-useless-constructor: warn
  no-var: error
  object-shorthand: warn
  prefer-arrow-callback:
    - warn
    - allowNamedFunctions: false
      allowUnboundThis: false
  prefer-numeric-literals: warn
  prefer-rest-params: warn
  prefer-spread: warn
  prefer-template: warn
  rest-spread-spacing: error
  symbol-description: warn
  template-curly-spacing: warn
  yield-star-spacing: warn
